<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.BrandDao">
    <select id="getBrandBuildDtoList" resultType="BrandBuildDto">
		select b.id,b.name,if(b.img_url is null,'/brand/default.jpg',b.img_url) img_url from brand b where exists (select 1 from product p where p.brand_id=b.id)
    </select>
</mapper>