<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.BrandDao">
    <select id="getModelList" resultType="BrandModel">
		select id,name,date_format(gmt_create, '%Y-%m-%d %H:%i:%s') gmtCreate,date_format(gmt_modify, '%Y-%m-%d %H:%i:%s') gmtModify from brand 
    </select>
</mapper>