<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.ConsigneeDao">
	<insert id="insertConsignee" parameterType="ConsigneeModel">
		insert into consignee(name,contury_id,city_id,province_id,district_id,address,zipcode,mobilephone,user_id) 
		values(#{name},#{conturyId},#{cityId},#{provinceId},#{districtId},#{address},#{zipcode},#{mobilephone},#{userId})
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">  
            select last_insert_id()  
    	</selectKey>
	</insert>
	<update id="updateConsignee" parameterType="ConsigneeModel">
		update consignee set name=#{name},contury_id=#{conturyId},city_id=#{cityId},province_id=#{provinceId},
		district_id=#{districtId},address=#{address},zipcode=#{zipcode},mobilephone=#{mobilephone},user_id=#{userId} 
		where id=#{id} and user_id=#{userId}
	</update>
	<update id="updateConsigneeIdCard" parameterType="ConsigneeModel">
		update consignee set idcard=#{idcard} where id=#{id} and user_id=#{userId}
	</update>
	<delete id="deleteConsignee" parameterType="ConsigneeModel">
		delete from consignee where id=#{id} and user_id=#{userId}
	</delete>
	<select id="getModelById" parameterType="Integer" resultType="ConsigneeModel">
	    select id,name,contury_id conturyId,city_id cityId,province_id provinceId,district_id districtId,address,
	    zipcode,mobilephone,user_id userId from consignee where id = #{id} and user_id=#{userId}
	</select>
	<select id="getModel" parameterType="ConsigneeModel" resultType="ConsigneeModel">
	    select id,name,contury_id conturyId,city_id cityId,province_id provinceId,district_id districtId,address,
	    zipcode,mobilephone,user_id userId from consignee where id = #{id} and user_id = #{userId}
	</select>
	<select id="getConsigneesByUserId" parameterType="Integer" resultType="ConsigneeDetailDto">
	    select id,name,contury_id conturyId,city_id cityId,province_id provinceId,district_id districtId,address,
	    zipcode,mobilephone,user_id userId from consignee where user_id = #{id}
	</select>
	<select id="getConsigneeByModel" parameterType="ConsigneeModel" resultType="ConsigneeDetailDto">
	   select a.id,a.name, CONCAT(p.name,c.name,d.name,a.address) as address,a.zipcode,a.mobilephone phone,a.user_id userId from consignee a 
	   inner join district d on a.district_id=d.id inner join city c on d.city_id = c.id inner join province p 
	   on c.province_id=p.id where a.id = #{id} and a.user_id = #{userId}
	</select>
</mapper>