<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.OrderDao">
	<insert id="generateOrder" parameterType="OrderModel">
		insert into `order`(number,gmt_create,gmt_modify,detail,status,total,user_id)
		values (#{number},#{gmtCreate},#{gmtModify},#{detail},#{status},#{total},#{userId})
		<selectKey resultType="int" keyProperty="id">
            <![CDATA[SELECT LAST_INSERT_ID() AS id ]]>
        </selectKey>
	</insert>
	<select id="getModelById" parameterType="Integer" resultType="OrderModel">
	    select id, number,gmt_create gmtCreate,gmt_modify gmtModify,detail,status,total,user_id userId
	    from `order`
	    where id = #{id}
	</select>
	<select id="getOrderPay" parameterType="OrderPayDto" resultType="OrderPayDto">
	    select id, number,gmt_create gmtCreate,gmt_modify gmtModify,status,total,user_id userId
	    from `order`
	    where user_id = #{userId} 
	    <if test="id!=null">
	       and id = #{id}
	    </if>
	    <if test="number!=null and number !='' ">
	       and number = #{number}
	    </if>
	</select>
	<select id="getModel" parameterType="OrderModel" resultType="OrderModel">
	    select id, number,gmt_create gmtCreate,gmt_modify gmtModify,detail,status,total,user_id userId
	    from `order`
	    where user_id = #{userId} 
	    <if test="number!=null and number != ''">
	        and number = #{number}
	    </if>
	    <if test="id!=null">
	        and id = #{id}
	    </if>
	</select>
	<select id="getModelList" parameterType="OrderModel" resultType="OrderModel">
	    select id, number,gmt_create gmtCreate,gmt_modify gmtModify,detail,status,total,user_id userId
	    from `order`
	    where user_id = #{userId}
	</select>
	
	<update id="update" parameterType="OrderModel">
	    update `order` set id = #{id}, gmt_modify = #{gmtModify}, status = #{status}
	    where user_id = #{userId}
	    <if test="number!=null and number != ''">
	        and number = #{number}
	    </if>
	    <if test="id!=null">
	        and id = #{id}
	    </if>
	</update>
	
	<select id="getFinshedOrdersCount" resultType="Integer" parameterType="SolrPage">
		select count(1) count from `order` where (status=60 or status=70) <![CDATA[and gmt_modify >= #{startDate} and gmt_modify < #{endDate}]]>
    </select>
	<select id="findFinshedOrders" parameterType="SolrPage" resultType="OrderModel">
		select id,detail from `order` where (status=60 or status=70) <![CDATA[and gmt_modify >= #{startDate} and gmt_modify < #{endDate} ]]> limit #{start},#{num}
    </select>
    
    <select id="getAllOrdersCount" resultType="Integer" parameterType="SolrPage">
		select count(1) count from `order`
    </select>
	<select id="findAllOrders" parameterType="SolrPage" resultType="OrderModel">
		select id,detail from `order` limit #{start},#{num}
    </select>
    <select id="getOrderByNumber" parameterType="String" resultType="OrderSimpleDto">
	    select id,user_id userId,gmt_modify gmtModify,status
	    from `order`
	    where number = #{number}
	</select>
	<update id="updateStatusByNumber" parameterType="OrderModel">
	    update `order` set status = #{status} 
	    where number = #{number}
	</update>
</mapper>