<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.ProductDao">
    
    <select id="getCountOfAll" resultType="Integer">
		select count(1) count from product t
    </select>
    
    <select id="findAll" parameterType="SolrPage" resultType="ProductBuildDto">
		select t.*,@rownum:=@rownum+1 ss from(select t.*,@rownum:=@rownum+1 sd from(select p.id,p.name n,p.brandstyle bs,date_format(p.gmt_modify, '%Y-%m-%d %H:%i:%s') t,p.imgs p,p.description d,p.purchasingprice pp,p.localprice lp,p.brand_id bid,b.name be,p.category_id cid,p.localprice-p.purchasingprice sp,@rownum:=@rownum+1 st,(select sum(s.totalnumber) from salesvolume s where s.product_id=p.id ) sn,(select sum(s.totalnumber) from salesvolume s where s.product_id=p.id and s.gmt_modify >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)) zsn from (select @rownum:=0) r, product p,brand b where p.brand_id=b.id order by p.gmt_modify asc) t,(select @rownum:=0) r order by t.sp asc) t,(select @rownum:=0) r order by t.sn asc limit #{start},#{num}
    </select>
    <!-- select p.id,p.name n,date_format(p.gmt_modify, '%Y-%m-%d %H:%i:%s') t,p.imgs p,p.description d,p.purchasingprice pp,p.localprice lp,p.brand_id bid,b.name be,p.category_id cid,c.name ce from product p,brand b,category c where p.category_id=c.id and p.brand_id=b.id order by p.gmt_modify asc limit #{start},#{num} -->
    <select id="getModelById" parameterType="Integer" resultType="ProductModel">
		select p.id,p.name,p.brandstyle,date_format(p.gmt_modify, '%Y-%m-%d %H:%i:%s') gmtModify,p.imgs,p.description,p.purchasingprice,p.localprice,p.brand_id brandId,p.category_id categoryId
		from product p
		where p.id = #{id}
    </select>
</mapper>