<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.ProductDao">
    
    <select id="getCountOfAll" resultType="Integer">
		select count(1) count from product t
    </select>
    
    <select id="findAll" parameterType="PageModel" resultType="ProductBuildDto">
		select p.id,p.name n,date_format(p.gmt_modify, '%Y-%m-%d %H:%i:%s') t,p.imgs p,p.description d,p.purchasingprice pp,p.localprice lp,p.brand_id bid,b.name be,p.category_id cid,c.name ce from product p,brand b,category c where p.category_id=c.id and p.brand_id=b.id order by p.gmt_modify asc limit #{start},#{num}
    </select>
    
    <select id="getModelById" parameterType="Integer" resultType="ProductModel">
		select p.id,p.name,date_format(p.gmt_modify, '%Y-%m-%d %H:%i:%s') t,p.imgs,p.description,p.purchasingprice,p.localprice,p.brand_id brandId,b.name brandName
		from product p,brand b
		where p.id = #{id} and p.brand_id=b.id
    </select>
    
    <select id="getProductById" parameterType="Integer" resultType="ProductDto">
		select p.id,p.name,p.imgs,p.description desc,p.purchasingprice,p.brand_id brandId,b.name brandName
		from product p,brand b
		where p.id = #{id} and p.brand_id=b.id
    </select>
    
</mapper>