<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.UserDao">
	<delete id="delete" parameterType="UserModel">
		delete from user where id=#{id}
    </delete>
    <update id="updateEmail" parameterType="UserModel">
    	update user set email=#{email},gmt_modify=#{gmtModify} where id=#{id}
    </update>
    <update id="updatePwd" parameterType="UserModel">
    	update user set password=#{password} where id=#{id}
    </update>
    <update id="updateMobilePhone" parameterType="UserModel">
    	update user set mobilephone=#{mobilephone} where id=#{id}
    </update>
    
    <insert id="insert" parameterType="UserModel">
    	insert into user(username,password,email,gmt_create,gmt_modify) values(#{username},#{password},#{email},#{gmtCreate},#{gmtModify})
    </insert>
    
    <insert id="register" parameterType="UserModel">
    	insert into user(username,password
    	<if test="email != null and email != ''">
	    	,email
    	</if>
    	<if test="gmtCreate != null and gmtCreate != ''">
    		,gmt_create
    	</if>
    	<if test="gmtModify != null and gmtModify != ''">
    		,gmt_modify
    	</if>
    	<if test="gmtRegister != null and gmtRegister != ''">
    		,gmt_register
    	</if>
    	) values(#{username},#{password}
    	<if test="email != null and email != ''">	
    		,#{email}
    	</if>
    	<if test="gmtCreate != null and gmtCreate != ''">
    		,#{gmtCreate}
    	</if>
    	<if test="gmtModify != null and gmtModify != ''">
    		,#{gmtModify}
    	</if>
    	<if test="gmtRegister != null and gmtRegister != ''">
    		,#{gmtRegister}
    	</if>
    	
    	<selectKey resultType="int" keyProperty="id">
            <![CDATA[SELECT LAST_INSERT_ID() AS id ]]>
        </selectKey>
    	
    	)
    </insert>
    
    <select id="getModelById" parameterType="Integer" resultType="UserModel">
    	select id,username,email,mobilephone,gmt_create gmtCreate,gmt_modify gmtModify from user  
    	where id=#{id}
    </select>
    <select id="getModel" parameterType="UserModel" resultType="UserModel">
    	select id,gmt_create gmtCreate,gmt_modify gmtModify,gmt_register gmtRegister,username,password,email,mobilephone,qq,weixin,weibo,identitycard,token
    	from user  
    	where 1=1
        <if test="id!=null">
	      and id=#{id}
        </if>
        <if test="gmtCreate!=null">
	      and gmt_create=#{gmtCreate}
        </if>
        <if test="gmtModify!=null">
	      and gmt_modify=#{gmtModify}
        </if>
        <if test="gmtRegister!=null">
	      and gmt_register=#{gmtRegister}
        </if>
        <if test="username!=null and username!=''">
	      and username=#{username}
        </if>
        <if test="password!=null and password!=''">
	      and password=#{password}
        </if>
        <if test="email!=null and email!=''">
	      and email=#{email}
        </if>
        <if test="mobilephone!=null and mobilephone!=''">
	      and mobilephone=#{mobilephone}
        </if>       
        <if test="qq!=null and qq!=''">
	      and qq=#{qq}
        </if>
        <if test="weixin!=null and weixin!=''">
	      and weixin=#{weixin}
        </if>
        <if test="weibo!=null and weibo!=''">
	      and weibo=#{weibo}
        </if>
        <if test="identitycard!=null and identitycard!=''">
	      and identitycard=#{identitycard}
        </if>
        <if test="token!=null and token!=''">
	      and token=#{token}
        </if>
    </select>

    <update id="update" parameterType="UserModel">
        update user set
	       gmt_create=#{gmtCreate}
	      ,gmt_modify=#{gmtModify}
	      ,gmt_register=#{gmtRegister}
	      ,username=#{username}
	      ,password=#{password}
	      ,email=#{email}
	      ,mobilephone=#{mobilephone}   
	      ,qq=#{qq}
	      ,weixin=#{weixin}
	      ,weibo=#{weibo}
	      ,identitycard=#{identitycard}
	      ,token=#{token}
        where id = #{id}
    </update>

    <select id="getUserByName" parameterType="String" resultType="UserModel">
    	select id,username,email,mobilephone,gmt_create gmtCreate,gmt_modify gmtModify from user
    	where username=#{username}
    </select>
    <select id="getUserById" parameterType="Integer" resultType="UserDto">
    	select id,username,token from user
    	where id = #{id}
    </select>

</mapper>