<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhz.shop.persistence.dao.BrandDao">
    <select id="getBrandBuildDtoList" resultType="BrandBuildDto">
		select id,name from brand 
    </select>
    <select id="getBrandNameById" parameterType="Integer" resultType="java.lang.String">
    	select name from brand where id = #{brandId}
    </select>
</mapper>