<link rel="stylesheet" href="$server_name/static/css/login.css" type="text/css" media="all" />
<link rel="stylesheet" href="$server_name/static/css/module.css" type="text/css" media="all" />
<link rel="stylesheet" href="$server_name/static/css/public.css" type="text/css" media="all" />
<link rel="stylesheet" href="$server_name/static/css/skin_blue.css" type="text/css" media="all" />
<link rel="stylesheet" href="$server_name/static/css/product.css" type="text/css" media="all" />
<script src="$server_name/static/js/jquery1.8.3.js" type="text/javascript"></script> 
<script src="$server_name/static/js/lhgdialog/lhgdialog.min.js" type="text/javascript"></script> 
<script src="$server_name/static/js/common.js" type="text/javascript"></script> 
<script src="$server_name/static/js/page.js" type="text/javascript"></script>
<script src="$server_name/static/js/login.js" type="text/javascript"></script>
<script >
	var baseUrl = "$server_name";
</script>
<!--PNG图片透明-->
<!--[if IE 6]>
<script src="$server_name /js/DD_belatedPNG.js"></script>
<script>DD_belatedPNG.fix('img,.nav,.nav ul li.cur span.nav-fir,.nav ul li.cur span,a.t-sina,a.t-sina:hover,a.t-qq,a.t-qq:hover')</script>
<![endif]-->
