<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="cartItemDao" name="cartItemDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.CartItemDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="userDao" name="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.UserDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="productDao" name="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.ProductDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="orderDao" name="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.OrderDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="consigneeDao" name="consigneeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.ConsigneeDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="categoryDao" name="categoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.CategoryDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="brandDao" name="brandDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.BrandDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="salesvolumeDao" name="salesvolumeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.SalesvolumeDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="idcardDao" name="idcardDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.IdcardDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="activityDao" name="activityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.ActivityDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="logisticsDao" name="logisticsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.LogisticsDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="versionDao" name="versionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.VersionDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="discountDao" name="discountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.DiscountDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="currencyDao" name="currencyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.CurrencyDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="refundDao" name="refundDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.RefundDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
</beans>





