<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- this is the dao object -->
	<bean id="cartItemDao" name="cartItemDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.CartItemDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="userDao" name="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.UserDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="productDao" name="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.ProductDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="orderDao" name="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.OrderDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="consigneeDao" name="consigneeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.ConsigneeDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="categoryDao" name="categoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.CategoryDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="brandDao" name="brandDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.BrandDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="salesvolumeDao" name="salesvolumeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="mapperInterface" value="com.flyhz.shop.persistence.dao.SalesvolumeDao"></property>
	    <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
</beans>





