<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Pragma" name="" content="no-cache">
        <meta http-equiv="Cache-Control" name="" content="no-cache">
        <meta http-equiv="Expires" name="" content="0">
		#parse('/header.vm')
    </head>
	<body>
		<div> 
			#parse('/logo.vm')
            <div id="main" class="type_mainframe"  style="background: #FFFFFF;">
                $screen_content
			</div>
			<div id="footer">#parse('/footer.vm')</div>  
		</div>
    </body>
</html>