.productImgList{
	width:100px;
	height:100px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
}
.productImgList1{
	width:300px;
	height:300px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
}
.productImgList2{
	width:500px;
	height:500px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
}
.productImg{
	width:150px;
	height:150px;
}
.addpage{
	width:350px;
}
.filetxtweidth{
	width:240px;
}
.filetxtweidth1{
	width:286px;
}
.divImgs{
	margin:5px 0;
}
.colorImg{
	width:80px;
	height:27px;
}