<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holding.smile"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.holding.smile.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myTheme" >
        <activity
            android:name="com.holding.smile.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.MainSmileActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.holding.smile.activity.MainTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.SortActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.SearchGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.GoodsBigImgActivity"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.OrderInformActivity"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.CategoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name="com.holding.smile.activity.PersonalSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.IdcardManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.IdcardEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.ResetPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.EmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.PhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.MySmileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.MyOrdersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.OrderPayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.ShoppingCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
        <activity
            android:name="com.holding.smile.activity.HtmlUIActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" >
        </activity>
    </application>

</manifest>