##menu macro
##需要继承org.lost.finder.access.AccessController
#macro(mc_menu $menuList)
#if($!menuList)
#set($css_menu = true)
#set($js_menu = true)
<div id="menu">
	<ul class="menu">
    	#foreach($menu in $menuList)
			#if($menu.type == 1)
    		<li #if($!currentParentMenu&&$currentParentMenu == $menu.id) class="current" #end>
    			#if($!menu.subMenus&&
					!$!menu.subMenus.isEmpty())
					#if($!menu.action)
						<a href="$link.root()$link.getContextPath()$!menu.action#if($menu.action.indexOf('?')>0)&channel=$menu.id#else?channel=$menu.id#end" class="parent"><span>$!menu.name</span></a>
					#else
						<a href="#" class="parent"><span>$!menu.name</span></a>	
					#end
					<div>
    				<ul>
    					#foreach($subMenu in $menu.subMenus)
							#if($subMenu.type == 1)
    						<li>
                    			#if($!subMenu.subMenus&&!$!subMenu.subMenus.isEmpty())
									#if($!subMenu.action)
										<a href="$link.root()$link.getContextPath()$subMenu.action#if($subMenu.action.indexOf('?')>0)&channel=$subMenu.id#else?channel=$subMenu.id#end" class="parent"><span>$subMenu.name</span></a>
									#else
										<a href="#" class="parent" class="parent"><span>$subMenu.name</span></a>
									#end
									<div>
                    				<ul>
                    					#foreach($subSubMenu in $subMenu.subMenus)
    										#if($subSubMenu.type == 1)
                        						<li>
                    								#if($!subSubMenu.action)
                        							<a href="$link.root()$link.getContextPath()$subSubMenu.action#if($subSubMenu.action.indexOf('?')>0)&channel=$subSubMenu.id#else?channel=$subSubMenu.id#end"><span>$subSubMenu.name</span></a>
                    								#else
                    									<a href="#"><span>$subSubMenu.name</span></a>
    												#end
                                                </li>
    										#end
										#end
                                    </ul>
									</div>
								#else
									#if($!subMenu.action)
										<a href="$link.root()$link.getContextPath()$subMenu.action#if($subMenu.action.indexOf('?')>0)&channel=$subMenu.id#else?channel=$subMenu.id#end"><span>$subMenu.name</span></a>
									#else
										<a href="#"><span>$subMenu.name</span></a>
									#end
								#end
                            </li>
							#end
						#end
                    </ul>
					</div>
				#else
					#if($!menu.action)
						<a href="$link.root()$link.getContextPath()$menu.action#if($menu.action.indexOf('?')>0)&channel=$menu.id#else?channel=$menu.id#end"><span>$menu.name</span></a>
					#else
						<a href="#"><span>$menu.name</span></a>	
					#end
				#end
			#end
				
            </li>
    	#end
	</ul>
</div>
<script >
$(document).ready(function(){
	var $divMenu = $('#menu')
	var divMenuWidth = $divMenu.outerWidth()
	var $lastMenu = $('ul.menu').children('li:last-child').prev();
	var lastMenuWidth = $lastMenu.outerWidth() 
	var lastMenuOffsetLeft = $lastMenu.position().left
	var menuStartX = $divMenu.offset().left;
	if(lastMenuOffsetLeft + lastMenuWidth > divMenuWidth){
		$('#menu').css("width","92%")
		var $moveDiv = '<div style="float:right;padding:7px 14px 7px 14px;">'
			$moveDiv +='<a href="#" id="menu_right_move" style="float:right"><span class="ui-icon ui-icon-triangle-1-e"></span></a>'
			$moveDiv += '<a href="#" id="menu_left_move" style="float:right"><span class="ui-icon ui-icon-triangle-1-w"></span></a></div>'
		$('#menu').parent().append($moveDiv);
		divMenuWidth = $divMenu.outerWidth();
    	if($('ul.menu').children('li:last-child').offset().left >= menuStartX){
    		$('#menu_left_move').hide()	
    	}
	}
	
	var menuEndX = $divMenu.offset().left + divMenuWidth;
	
	var n = 0;
	$('#menu_left_move').click(function(){
		clearTimeout(n);
    	return n = setTimeout(function() {
        	$('.menu').children('li').each(function(){
    		if($(this).offset().left >= menuStartX){
    			if($('.menu').position().left + $(this).prev().outerWidth() >= 0){
    				$('#menu_left_move').hide();
    			}
    			$('#menu_right_move').show();
    			$('.menu').animate({"left":"+="+$(this).prev().outerWidth()},500)
    			return false;
    		}
			})
    	}, 200);
	})
	
	$('#menu_right_move').click(function(){
		clearTimeout(n);
    	return n = setTimeout(function() {
			$('.menu').children('li').each(function(){
			if($(this).offset().left >= menuStartX){
				if($lastMenu.offset().left + lastMenuWidth - $(this).outerWidth() < menuEndX){
					$('#menu_right_move').hide()
				}
				$('#menu_left_move').show();
				$('.menu').animate({"left":"-="+$(this).outerWidth()},500)
				return false;
			}
			})
		}, 200);
	})
	$('.delel').remove()
})
</script>
#end
<div id="copyright" class="delel" style="display:none">Copyright &copy; 2013 <a href="http://apycom.com/">Apycom jQuery Menus</a></div>

#end
<!--文件上传宏-->
## attrId 当前文件上传控件的Id
## require 必填
## limit 文件上传最大个数
## extension 文件格式限制  
## 例子#fileupload("1313",true,'2','doc,txt')
#macro(mc_fileupload $attrId,$require,$limit,$extension) 
	#set($successFileDivId = $attrId + "_successFileDiv")
	#set($fileReupload = $attrId + "_fileReupload")
	#set($successFileInputId = $attrId + "_successFileInput")
	#set($fileRequireVerifyInfoId = $attrId + "_fileRequireVerify")
	#set($css_fileupload = true)
	#set($js_fileupload = true)
	
	<div class="fileupload">
		<div class="column1">
			<span>附件：</span>
		</div>
		<div class="column2">
			<a
				href="javascript:showFileUploadLayer('$link.root()$link.getContextPath()','$attrId','$require','$successFileDivId','$successFileInputId','$limit','$extension','$fileRequireVerifyInfoId');"
				id="$fileReupload" class="add"></a>
			<span class="fileRequireVerifyInfo" id="$fileRequireVerifyInfoId"></span>	
			<div class="fileUploadSuccessDisplayDiv" id="$successFileDivId">			
			</div>
			<input type="hidden" name="$attrId" value="" id="$successFileInputId" />
		</div>
	</div>
#end