<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script>
		function getCode(){
			window.open(document.getElementById('url_get_code').value + document.getElementById('appkey').value);
		}
		
		function getToken(){
			window.open(document.getElementById('url_get_token').value + 'TOP-' + document.getElementById('authCode').value + '-END');
		}
        </script>
	</head>
	<body>
		<div id="main">
			<div id="content">
			当前appkey：<input type="text" id="appkey" value="$!appkey"/>
			<input type="hidden" id="url_get_code" readonly="readonly" value="http://my.open.taobao.com/auth/authorize.htm?appkey="/>
			<button onclick="getCode()">getCode</button>
			
			<br/>
			authCode：<input type="text" id="authCode"/>
			<input type="hidden" id="url_get_token" value="http://container.open.taobao.com/container?authcode="/>
			<button onclick="getToken()">getToken</button>
			</div>
		</div>
        <font color="red">操作流程：点击“getCode”后，登录并授权，复制页面上TOP与END之间的字符串（不包括减号“-”）到“authCode”再点击“getToken”，直到新打开的页面出现“WELCOME TO TIANTIANHAIGOU!”方可关闭！</font>
	</body>
</html>