<form action="$server_name/product/edit" method="post" enctype="multipart/form-data" id="addProduct" target="_parent">
    <div class="formbox" style="overflow-x:hidden;overflow-y:auto;">
		<input type="hidden" id="id" name="id" value="$!product.id"/>
		<input type="hidden" id="oldColorimg" name="oldColorimg" value="$!product.oldColorimg"/>
		<input type="hidden" id="oldImgs" name="oldImgs" value="$!product.oldImgs"/>
		<input type="hidden" id="coverSmallDel" name="coverSmallDel" value="$!product.coverSmallDel"/>
		<input type="hidden" id="dataSrc" name="dataSrc" value="$!product.dataSrc"/>
		<!--<input type="hidden" name="creator" value= "$!u"/>-->
        <table class="dateline" style="width:99%;margin-top: 5px;">
            <tr>
                <td><font color="red">*</font>产品名称:</td>
				<td>
					<input type="text" id="name" name="name" value="$!product.name" class="addpage" onblur="javascript:checkStr('name',this.value,128);"/>
					<font id="nameMessage" color="red" size="2"></font>
				</td>
			</tr>
			<tr>
                <td><font color="red">*</font>产品品牌:</td>
				<td>
					<select id="brandId" name="brandId" class="addpage">
            			#if($!brands && $!brands.size() > 0)
            				#foreach($brand in $!brands)
            					<option value ="$!brand.id" #if($!product.brandId == $!brand.id) selected=true #end>$!brand.name</option>
            				#end
            			#end
            		</select>
				</td>
			</tr>
			<tr>
                <td><font color="red">*</font>产品分类:</td>
                <td>
					<select id="categoryId" name="categoryId" class="addpage">
            			#if($!cates && $!cates.size() > 0)
            				#foreach($cate in $!cates)
            					<option value ="$!cate.id" #if($!product.categoryId == $!cate.id) selected=true #end>$!cate.name</option>
            				#end
            			#end
            		</select>
				</td>
            </tr>
			<tr>
                <td><font color="red">*</font>产品款号:</td>
				<td>
					<input type="text" id="brandstyle" name="brandstyle" value="$!product.brandstyle" class="addpage" onblur="javascript:checkStr('brandstyle',this.value,16);"/>
					<font id="brandstyleMessage" color="red"  size="2"></font>
				</td>
			</tr>
			<!--
			<tr>
				<td>尺码描述</td>
                <td>
					<select id="sizedesc" name="sizedesc" class="addpage">
						<option value ="">不选</option>
						<option value ="S,M,L,XL,XLL" #if($!product.sizedesc == "S,M,L,XL,XLL") selected=true #end>S,M,L,XL,XLL</option>
    					<option value ="小号,中号,大号,加大号" #if($!product.sizedesc == "小号,中号,大号,加大号") selected=true #end>小号,中号,大号,加大号</option>
						<option value ="1,2,3,4,5" #if($!product.sizedesc == "1,2,3,4,5") selected=true #end>1,2,3,4,5</option>
            		</select>
				</td>
			</tr>
			-->
			<tr>
				<td>是否下架:</td>
                <td>
					<select id="offShelf" name="offShelf" class="addpage">
						<option value ="n" #if($!product.offShelf == "n") selected=true #end>否</option>
    					<option value ="y" #if($!product.offShelf == "y") selected=true #end>是</option>
            		</select>
				</td>
			</tr>
			<tr>
                <td>产品描述:</td>
				<td>
                    <textarea id="description" name="description" class="addpage" rows="5" onKeyDown="if(this.value.length>=512){alert('长度过长，请少于512个字符！');this.value=this.value.substr(0,512);return false;}">$!product.description</textarea>
				</td>
			</tr>
			<tr>
				<td>币&nbsp;&nbsp;&nbsp;&nbsp;种:</td>
				<td>
					<select id="currency" name="currency" class="addpage">
            			#if($!currencys && $!currencys.size() > 0)
            				#foreach($currency in $!currencys)
            					<option value ="$!currency" #if($!product.currency == $!currency) selected=true #end>$!currency</option>
            				#end
            			#end
            		</select>
				</td>
			</tr>
			<tr>
                <td>原始价格:</td>
				<td>
					<input type="text" id="originprice" name="originprice" value="请填写数字" class="addpage" onblur="javascript:checkPrice('originprice',this.value);" onfocus="if(this.value=='请填写数字'){this.value='';}"/>
					<font id="originpriceMessage" color="red"  size="2"></font>
				</td>
			</tr>
			<tr>
                <td>折扣价格:</td>
				<td>
					<input type="text" id="discountprice" name="discountprice" value="请填写数字" class="addpage" onblur="javascript:checkPrice('discountprice',this.value);" onfocus="if(this.value=='请填写数字'){this.value='';}"/>
					<font id="discountpriceMessage" color="red"  size="2"></font>
				</td>
			</tr>
			<tr>
                <td>产品颜色:</td>
				<td>
					<input type="text" id="color" name="color" value="$!product.color" class="addpage"/>
				</td>
			</tr>
			<tr>
                <td>颜色图片:</td>
				<td>
					<div id="showColorImg">
    					#if($!product.colorimg)
    						<img src="$!colimg_name$!product.colorimg" class="colorImg"/>
    						<input type="button" onclick="javascript:reChooseImg();" value="重新上传" class="colorImg"/>
    					#else
        					<input id="colorimg" name="colorimg" type="file" style="display:none">
                            <div>
                               <input id="colorimgCover" type="text" class="filetxtweidth1">
        					   <input type="button" onclick="javascript:chooseImg('colorimg','colorimgCover');" value="选择图片"/>
                            </div>
    					#end
					</div>
				</td>
			</tr>
			<tr>
                <td id="rowProductImg" #if($!product.productImgsCount) rowspan="$!product.productImgsCount" #end>产品图片:</td>
				<td id="productImgs">
					<div id="div_imgs1" class="divImgs">
					   <input id="imgs1" name="imgs" type="file" style="display:none">
                       <input id="imgs1Cover" type="text" class="filetxtweidth">
					   <input type="button" onclick="javascript:chooseImg('imgs1','imgs1Cover');" value="选择图片"/>
					   <input type="button" onclick="javascript:addImgsUpload('div_imgs1');" value="添  加"/>
                    </div>
				</td>
			</tr>
			#set($count = 0)
			#if($!product.productImgsCount)
				#foreach($productImg in $!product.productImgs)
					<tr id="tr_srcImg_$count">
    					<td>
    						<div>
    							<input type="hidden" id="productImg_$count" name="productImgs" value="$!productImg"/>
    							<input type="hidden" id="productSrcImgs_$count" name="productSrcImgs" value="$!product.productSrcImgs[$count]"/>
    							<img src="$!proimg_name$!productImg" class="productImg"/>
								<input type="button" onclick="javascript:delSrcImgs('tr_srcImg_$count','$count');" value="删除图片" class="colorImg"/>
    						</div>
                        </td>
                    </tr>
					#set($count = $count+1)
				#end
			#end
			<tr>
                <td>注意事项:</td>
                <td>
                    <font color="red">
						1、*代表必填项.<br/>
						2、原始价格和折扣价格：填写大于1.00且小于99999999.99的数字<br/>&nbsp;
						&nbsp;，小数点后最多2位<br/>
						3、请上传大于50K的产品图片
					</font>
				</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
					<button onclick="javascript:productSave();" type="button">确定</button>
					<button onclick="javascript:closeAddPage();" type="button">取消</button>
				</td>
			</tr>
		</table>
    </div>
</form>